= form_for @stream do |f|
  - if @stream.errors.any?
    - @stream.errors.full_messages.each do |msg|
      .alert.alert-danger= msg
  .row
    .col-xs-12.col-md-6.col-lg-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
    .col-xs-12.col-md-6.col-lg-6
      .form-group
        = f.label :description
        = f.text_field :description, class: 'form-control'
  .row
    .col-xs-12.col-md-12.col-lg-12
      .form-group
        = f.label :body
        = f.bootsy_area :body, class: 'form-control', rows: '15'
  .row
    .col-xs-12.col-md-6.col-lg-3
      = f.submit 'Save Changes', class: 'btn btn-primary'