<div class="row">
  <div class="col-xs-12 cold-md-12 col-lg-12">
    <h3><%= @stream.name %></h3>
    <p><%= @stream.description %></p>
  </div>
</div> 
<div class="row">
  <div class="col-xs-12 cold-md-12 col-lg-8">
    <div id="stream_container">
        <div id="stream">
            Loading Stream
        </div>
    </div>
  </div>
  <div class="col-xs-12 cold-md-12 col-lg-4">
    <div id="chat" class="chat">
    </div>
    <% if user_signed_in? %>
      <div class="chat_input">
        <%= form_for @stream.messages.new do |f| %>
          <%= f.hidden_field :stream_id %>
          <%= f.text_field :message, class: 'form-control' %>
        <% end %>
      </div>
    <% else %>
      <div class="chat_input">
        Login or register to chat.
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    jwplayer("stream").setup({
        flashplayer: '../jwplayer.flash.swf',
        file: "rtmp://live.watchme.io/stream/flv:<%= @stream.user.username %>",
        width: '100%',
        rtmp: {
            bufferlength: 0.1
        },
    });
    setTimeout(function(){
      $(function() {
          $(window).resize(function() {
            var width = $("#stream_container").width();
            $("#stream").css({
                "width": width,
                "height": width*(9/16)
            });
            $("#stream_wrapper").css({
                "height": 'auto'
            });
          }).resize();
          $('#chat').stop().animate({
            scrollTop: $("#chat")[0].scrollHeight
          }, 100);
      });
    }, 300);    
    setTimeout(function(){
      PrivatePub.subscribe("/channel/<%= @stream.id %>", function(data, channel) {
        $("#chat").append('<div class="message"><span class="name">' + data.username + '</span><span class="body">' + data.message + '</span></div>');
        $('#chat').stop().animate({
          scrollTop: $("#chat")[0].scrollHeight
        }, 500);
      });
    }, 1000);
  });
  $('form#new_message').submit(function() {
    if ($('#message_message').val() != "") {
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: valuesToSubmit,
        dataType: "HTML" 
      }).success(function(data){
        $('#message_message').val('');
      });
    }
    return false;
  });
</script>