<div id="<%= dom_id @stream %>">
  <div class="row">
    <div class="col-xs-12 cold-md-12 col-lg-12 header">
      <% if @owned %>
        <h3><span class="rest-in-place" data-attribute="name" id="stream_name"><%= @stream.name %></span></h3>
      <% else %>
        <h3><span id="stream_name"><%= @stream.name %></span></h3>
      <% end %>
    </div>
  </div>
  
  <div class="row">
  
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  
      <div id="stream_container">
        <div class="player-popout">
          <a href="#" onclick="return popout();"><span class="glyphicon glyphicon-new-window"></span></a>
        </div>
        <div id="player_updater">
          <div id="player">
            <%= render 'streams/player' %>
          </div>
        </div>
      </div>
      
      <% if @stream.user.settings(:lastfm).enabled %>
      <% if LastFm.nowplaying(@stream.user.settings(:lastfm).username)[:playing] %>
        <div id="lastfm">
      <% else %>
        <div id="lastfm" style="display: none;">
      <% end %>
          <div class="lastfm_info">
            <div class="lastfm_img" id="lastfm_img"></div>
            <div class="lastfm_song" id="lastfm_song">Loading ...</div>
            <div class="lastfm_artist" id="lastfm_artist">Loading ...</div>
          </div>
          <div id="amazonref" class="amazonref" data-link="" style="display:none;"></div>
        </div>
       
      <% end %>
      
    </div>
  
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 chat-pad">
      <%= render 'streams/chat' %>
    </div>
  </div>
  
  <div class="row">
    <!-- stats --> 
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          Channel Info
        </div>
        <div class="panel-body">
          <% if @owned %>
            <textarea id="stream_markdown" style="display:none;"><%= @stream.body %></textarea>
            <span class="rest-in-place" data-formtype="markdown" data-attribute="body" id="stream_body"><%= @stream.markdown %></span>
          <% else %>
            <span id="stream_body"><%= @stream.markdown %></span>
            
          <% end %>
        </div>
      </div>
    </div>
    <!-- info --> 
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Channel Stats
        </div>
        <div class="panel-body">
          <div>
            <strong>Viewers:</strong> <span id="viewer_count"></span>
          </div>
          <div>
            <strong>Views:</strong> NYI
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= subscribe_to "/stream/#{@stream.id}" %>
</div>