<div class="row">
  <div class="col-xs-12 cold-md-12 col-lg-12">
    <h3><%= @stream.name %></h3>
    <p><%= @stream.description %></p>
  </div>
</div> 
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div id="stream_container">
        <div id="stream" style="min-height: 641px;">
            Loading Stream
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div>
      <strong>Viewers:</strong> <%= @stream.live ? @stream.viewers : 'Offline' %>
    </div>
    <div>
      <strong>Views:</strong> n/a
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 cold-md-12 col-lg-6">
    <div class="well">
      <%= @stream.body.html_safe %>
    </div>
  </div>
  <div class="col-xs-12 cold-md-12 col-lg-6">
    <div class="well">
      <div id="chat" class="chat">
        <% @stream.messages.limit(15).order(created_at: :desc).each do |message| %>
        <div class="message">
          <span class="name"><%= message.user.username %></span>
          <span class="body"><%= message.message %></span>
        </div>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="chat_input">
          <%= form_for @stream.messages.new do |f| %>
            <%= f.hidden_field :stream_id %>
            <%= f.text_field :message, class: 'form-control' %>
          <% end %>
        </div>
      <% else %>
        <div class="chat_input">
          Login or register to chat.
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= subscribe_to "/channel/#{@stream.id}" %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    jwplayer("stream").setup({
        flashplayer: '/jwplayer.flash.swf',
        sources: [{
          file: "rtmp://<%= Settings.rtmp.server %>/<%= Settings.rtmp.app %>/flv:<%= @stream.user.username %>",
        },{
          file: "png:<%= @stream.placeholder_url %>"
        }],
        width: '100%',
        height: '65%',
        rtmp: {
          bufferlength: 0
        }
    });
    $(window).resize(function() {
      var width = $("#stream_container").width();
      $("#stream").css({
          "width": width,
          "height": width*(9/16)
      });
      $("#stream_wrapper").css({
          "height": 'auto'
      });
    }).resize();
    $('#chat').stop().animate({
      scrollTop: $("#chat")[0].scrollHeight
    }, 200);
    
    setTimeout(function(){
      $(window).resize();
    }, 100);
    
    setTimeout(function(){
      PrivatePub.subscribe("/channel/<%= @stream.id %>", function(data, channel) {
        $("#chat").append('<div class="message"><span class="name">' + data.username + '</span><span class="body">' + data.message + '</span></div>');
        $('#chat').stop().animate({
          scrollTop: $("#chat")[0].scrollHeight
        }, 500);
      });
    }, 1000);
  });
  $('form#new_message').submit(function() {
    if ($('#message_message').val() != "") {
      var valuesToSubmit = $(this).serialize();
      $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: valuesToSubmit,
        dataType: "HTML" 
      }).success(function(data){
        $('#message_message').val('');
      });
    }
    return false;
  });
</script>