<div class="row">
  <div class="col-xs-12 cold-md-12 col-lg-12">
    <h3><%= @stream.name %></h3>
    <p><%= @stream.description %></p>
  </div>
</div>
<div class="row">
  <!-- left --> 
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <!-- player --> 
    <div id="stream_container">
      <div id="player">
        <!-- PLAYER_PARTIAL -->
          <% if @stream.live? %>
            <%= render 'streams/players/' + current_user.settings(:player).tech %>
          <% else %>
            <%= render 'streams/players/offline' %>
          <% end %>
        <!-- END PLAYER_PARTIAL -->
      </div>
    </div>
  </div>
  <!-- right --> 
  <div class="col-xs-12 col-sm-12 cold-md-4 col-lg-4">
      <!-- chat -->
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <div id="chat" class="chat">
            <% @stream.messages.limit(15).order(created_at: :desc).reverse.each do |message| %>
            <div class="message">
              <span class="name" style="color:#<%= message.user.settings(:chat).color %>;"><%= message.user.username %>:</span>
              <span class="body"><%= message.message.emojify.html_safe %></span>
            </div>
            <% end %>
          </div>
        <% if user_signed_in? %>
          <div class="chat_input">
            <%= form_for @stream.messages.new do |f| %>
              <%= f.hidden_field :stream_id %>
              <%= f.text_area :message, class: 'form-control no-autocomplete', rows: 1 %>
            <% end %>
          </div>
        <% else %>
          <div class="chat_input">
            Login or register to chat.
          </div>
        <% end %>
        </div>
      </div>
    </div>
</div>

<div class="row">
  <!-- stats --> 
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <div class="well">
      <%= @stream.body.html_safe %>
    </div>
  </div>
  <!-- info --> 
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="well">
      <div>
        <strong>Viewers:</strong> <span id="viewer_count"></span>
      </div>
      <div>
        <strong>Views:</strong> NYI
      </div>
    </div>
  </div>
</div>
<script id="message_tpl" type="x-tmpl-mustache">
  <div id="msg_{{id}}" class="message">
    <span class="name" style="color:#{{color}};">{{username}}:</span>
    <span class="body">{{message}}</span>
  </div>
</script>
<%= subscribe_to "/stream/#{@stream.id}" %>