<% @vods.each do |vod| %>
<div class="col-md-4 stream-block">
  <%= link_to vod_show_path(vod.stream.friendly_id, vod.id) do %>
    <div class="stream_image" style="background-image: url('<%= Settings.rtmp.proto %>://<%= Settings.rtmp.outgest %><%= Settings.rtmp.post %>/jpg/<%= vod.basename %>_small.jpg');">
    </div>
  <% end %>
  <h3><%= link_to vod.title, vod_show_path(vod.stream.friendly_id, vod.id)  %></h3>
</div>
<% end %>